footer {
    background-color: #495567;
    width: 100%;
    
    .footer {
        background-image: url(../../patterns/white-circles.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        
        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .text {
                h5 {
                    padding: 102px 0px;
                    max-width: 415px;
                    color: #FFF;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: -2.143px;
                }
            }
            .download {
                display: flex;
                column-gap: 28px;
            }
        }
    }
    
    .nav {
        width: 100%;
        background-color: #333A44;
        padding: 0px 15px;
        
        .nav__items {
            padding: 36px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .navbar {
                display: flex;
                align-items: center;
                column-gap: 58.18px;
                nav {
                    ul {
                        display: flex;
                        column-gap: 32px;
                        
                        li {
                            a {
                                color: #939CAA;
                                font-family: Space Mono;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 25px;
                                transition: 0.5s;
                                &:hover {
                                    color: #FCB72B;
                                }
                            }
                        }
                    }
                }
            }
            .social {
                display: flex;
                column-gap: 24px;
                .footer-icon {
                    width: 24px;
                    height: 24px;
                    color: #FCB72B;
                    transition: 0.3s;

                    &:hover {
                        color: #E5ECF4;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px ) {
    footer {
        background-color: #495567;
        width: 100%;
        
        .footer {
            
            .info {
                display: flex;
                flex-direction: column;
                
                .text {
                    h5 {
                        width: 457px;
                        color: #FFF;
                        text-align: center;
                        font-family: Space Mono;
                        font-size: 48px;
                        font-weight: 700;
                        line-height: 48px;
                        letter-spacing: -2.143px;
                    }
                }
                .download {
                    padding-bottom: 62px;
                    img {
                        width: 113px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px ) {
    footer {
        
        .footer {
            
            .info {
                .text {
                    h5 {
                        max-width: 311px;
                        text-align: center;
                    }
                }
            }
        }
        .nav__items {
            display: flex;
            flex-direction: column;
            row-gap: 85px;
            
            .navbar {
                flex-direction: column;
                row-gap: 41.44px;
                nav {
                    ul {
                        flex-direction: column;
                        align-items: center;
                        row-gap: 16px;
                        
                    }
                }
            }
        }
    }
}